$white: #ffffff;
$black: #1d1b1b;
$dark: #303841;
$dark2: #27374D;
$mainBg: #fafafa;
$grey: #474E68;
$grey-color: #d1d1d1;
$dark-purple: #573bac;
$light-purple: #d0bfff;
$light-blue: #6d67e4;
$input-grey: #aaaaaa;

$box-shadow-custom: -11px -28px 45px -43px rgba(0,0,0,0.1);
$spacing:0.1rem;